<div ng-if="error" class="alert alert-danger">{{ error }}</div>
<nav class="menu menu-left"role="navigation">
    <div class="profile-userpic">
        <img data-ng-src="{{ self.avatar_url }}" alt=""/>
    </div>

    <div class="profile-usertitle">
        <div class="profile-usertitle-name">{{ self.name }}</div>
        <div class="profile-usertitle-email">{{ self.email }}</div>
    </div>

    <div class="profile-usermenu">
        <ul class="nav">
            <li>
                <a ui-sref="gists.me"><i class="glyphicon glyphicon-user"></i> Me</a>
            </li>
            <li>
                <a ui-sref="gists.starred"><i class="glyphicon glyphicon-star"></i> Starred</a>
            </li>
            <li>
                <a ui-sref="home.settings"><i class="glyphicon glyphicon-cog"></i> Settings</a>
            </li>
        </ul>
    </div>
</nav>
<div id="toggle" class="nav-toggle" data-ng-click="toggleSidebar()"><span></span></div>
<div class="container" ui-view></div>